@media screen and (max-width: 1024px) {
  .order {
    display: none;
  }
  .banhSN-eat-name {
    font-size: 14px;
  }
  .banhSN-eat-more {
    padding: 0 18px 18px;
  }

  .banh-ngon-list {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .add {
    padding: 8px 12px !important;
  }

  /* cart */
  .cart-page{
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;;
  }

.cart-right{
    height: 250px;
}

/* checkout pay */
.pay{
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}
.checkout-left{
  position: relative;
  height: auto;
  top: 0;
  

}

}
@media screen and (max-width: 768px) {
  /* menu */
  .menu .mui-menu{
    display: none
  }
  .nav-menu {
    display: flex;
  }
  .nav-mb {
    display: block;
  }
  .menu-span {
    display: none;
  }

  .slide {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .slide-list {
    display: none !important;
  }

  .form-search {
    width: 100%;
  }

  /* home page section categories Home */
  .product {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .product .product-item {
    border-right: 0;
    border-bottom: 1px solid black ;
}
.product .product-item:nth-child(3){

    border-bottom:0 ;
}
  /* home page section categories Home */

  .about {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-right {
    padding-bottom: 100%;
    border-top: 1px solid black;
  }
  .about-left {
    border-right: 0 !important;
  }
  .banh-ngon-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }

  .all-products-link a {
    padding: 8px 12px;
  }

  .footer-ul-list {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    gap: 20px;
  }
  .banhSN-eat {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .banhSN-content_text {
    font-size: 1rem;
  }
  .banhSN-eat-h2 {
    font-size: 1rem;
  }
  .banhSN-eat-name {
    font-size: 12px;
  }

  .banhSN-eat-more {
    padding: 0 16px 16px;
  }

  .detail {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .detail-left {
    position: relative;
    top: 0;
    border-right: 0 !important;
    height: 450px;
  }

  .detai-right-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--background);
    width: 100%;
    z-index: 10;
    padding: 10px;
  }

  /* loginPage */
  .login-box {
    max-width: 100%;
  }

  /* btn thêm sp */
  .add {
    padding: 4px 6px !important;
    font-size: 14px;
  }

  /* cart page*/
  .cart-left {
    display: grid;
    grid-template-columns: 70% 30% !important;
    gap: 0 !important;
  }
  
  /* checkout pay */
  .grid-60-30-gap{
    grid-template-columns: auto;
  }
  .checkout-right-name, .checkout-right-sl {

    font-size: 1rem;
  }
  
}
